<form
 [formGroup]="fg" (ngSubmit)="guardar(fg.controls['nombre'].value,fg.controls['url'].value)">
  <div class="form-group"><label for="nombre">Nombre</label><input type="text" class="form-control"
      id="nombre" placeholder="Ingresar nombre..." [formControl]="fg.controls['nombre']">
      <ul>
        <li *ngFor="let t of searchResults;">{{t}}</li>
      </ul>
      <div *ngIf="fg.controls['nombre'].hasError('nombreInvalido')">Nombre Inválido</div>
      <div *ngIf="fg.controls['nombre'].hasError('required')">Nombre Requerido</div>
      <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">El largo del Nombre debe ser Mayor a 5</div>
  </div>

  <div class="form-group"><label for="Imagen Url">Imagen Url</label><input type="text" class="form-control"
      id="imagenUrl" placeholder="Ingresar url..." [formControl]="fg.controls['url']">
      <div *ngIf="!fg.controls['url'].valid">Ingrese URL</div>
  </div>
      <button type="submit" class="btn btn-primary" *ngIf="fg.valid" >Guardar</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="resetear()">Resetear Votos</button>

</form>
